/* .nav {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 10px;
}

.box {
    margin-right: 0px;
    margin-left: auto;
    float: right;
} */
/* .nav-item {
    color:black;
}
.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-height: inherit;

} */

.navstyle {
    text-align: 'center';
    font-family: "Inika";
    /* width:8%; */
    font-size: 16pt;
    color:black !important;
    margin-left:0;
    margin-right:0;
    /* padding:0 auto; */
}
.wrapper {
    width:33.33%;
    display: flex;
    justify-content: center;
}
#loginbtn {
    margin-right:5vw !important;
    margin-left:auto !important;
}
#dashboardbtn {
    margin-left:5vw !important;
    margin-right:auto !important;
}