.editform-submitbtn {
  margin-top:1vh;
}
.teacher-form-input {
  margin:2vh;
}
.sortbtn {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}